{% extends "base.html" %}

{% block content %}
<div class="hero max-h-screen min-h-screen"
    style="background-image: url({{url_for('static', path='/images/competition_3_HQ1.jpg')}});">
    <div class="hero-overlay bg-opacity-50"></div>
    <div class="text-center text-neutral-content">
        <div>
            <h1 class="mb-5 text-9xl font-bold text-purple-500">ITNSA</h1>
            <div class="mb-5 text-5xl/tight font-bold">
                <p class="mb-5">用技能的力量改变我们的世界</p>
                <p>IMPROVING OUR WORLD WITH THE POWER OF SKILLS</p>
            </div>
        </div>
    </div>
</div>

<div class="hero min-h-screen bg-base-200" id="login">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Let's take it from here</h1>
            <p class="py-6 text-xl">Skills create opportunities and connect societies. They are the foundation of economic progress.</p>
        </div>
        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form class="card-body">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="email" placeholder="email" class="input input-bordered" required />
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" placeholder="password" class="input input-bordered" required />
                    <label class="label">
                        <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
                    </label>
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}