<!DOCTYPE html>
<html lang="zh-CN" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a">
    <meta name="keywords" content="fastapi, python, api">
    <meta name="author" content="Huang Daojin">
    {#　<link rel="icon" type="image/png" href="{{ url_for('static', path='/images/computer-laptop-color-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/highlight/styles/default.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.css" />
    <script src="{{ url_for('static', path='/scripts/spaghetti.js') }}"></script>　#}
    <title>Document</title>
</head>

<body>
    <header>
    </header>
    {%- set is_homepage = request.path == '/' %}
    <nav class="{{ 'm-0' if is_homepage else 'mb-24' }} print:hidden">
        {% include "navbar.html" %}
    </nav>
    <aside></aside>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="print:hidden"></footer>



    {% block script %}{% endblock script %}
    {# <script src="{{ url_for('static', path='/highlight/highlight.min.js') }}"></script>
    <script>hljs.highlightAll();</script> #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
</body>

</html>